<h1><%= @ground.name %></h1>
<p><strong>Price: </strong> Rs:<%= @ground.price %><br />
<strong>Date Available :</strong> <%= @ground.bdate %><br />

</p>
<hr />
<%= link_to 'Back', {:action => 'list'} %>